body{
  overflow-y: scroll;
}

.navbar .container{
  margin-left: 10px;
}
/* Set bg image */
.bgImage {
    /* margin: 20px; */
    height: 600px;
    background: url("../Assets/Bg.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.bgimage-val{
  position: absolute;
  width: 250px;
  height: 300px;
  top: 30%;
  right: 15%;
  border-radius:50%;
}
/* Make text larger*/
/* title */
.hero_title {
    font-size: 3rem;
  }
  
  /* desc */
  .hero_desc {
    font-size: 1rem;
  }
 
  #desc{
    margin-left: 20px;
  }
  .img-fluid {
    height: 300px;
    width: 250px;
    position: absolute;
    top: 20%;
    left: 65%;
  }
  
  .container-fluid {
    color: white;
    margin-left: 20vw;
    display:inline;
  }

.hero_text {
    text-align: center;
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%) !important;
  } 
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 5em !important;
  } 

  /* ABOUT SECTION */
  .about-me{
    /* margin: 20px; */
    background:rgb(223, 168, 195);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .AboutImage-Val{
    width: 70%;
    float: right;
    border-radius: 5%;
    box-shadow: 0 0 10px;
  }
  .AboutImage-Val:hover{
    border: 5px solid grey;
  }

  .view-portfolio{
    position: relative;
    left: 50px;
    top: 10px;
  }

  .change-my-position {
    position: relative;
    left: 50px;
    top: 12px;
  }
/* End of About Section */

@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
  }

  .img-fluid {
    height: 200px;
    width: 150px;
    position: absolute;
    top: 20%;
    left: 35%;
  }

  .hero_title {
    font-size: 2.5rem;
  }

  .hero-text {
    margin-top: 10em;
    top: 50%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    overflow-y: scroll;
  }
  .img-fluid {
    height: 250px;
    width: 200px;
    position: absolute;
    top: 20%;
    left: 35%;
  }

  .hero_desc {
    font-size: 1rem;
  }

  .hero-text {
    margin-top: 10em;
    top: 50%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    overflow-y: scroll;
  }
  .img-fluid {
    height: 300px;
    width: 250px;
    position: absolute;
    top: 20%;
    left: 35%;
  }

  .hero_desc {
    font-size: 1rem;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .img-fluid {
    height: 350px;
    width: 300px;
    position: absolute;
    top: 20%;
    left: 65%;
  }

  .hero_desc {
    font-size: 2rem;
  }

  .hero-text {
    margin-top: 0.1em;
    /* top: 50%; */
  }
}